* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
img{max-width: 100%;max-height: 100%;}
ul li{
    list-style: none;
}
body{
    background: #eee;
   
}
.globalHeader{
    margin: 20px;
}
@media (min-width:500px) {
    .globalHeader{
       margin: 60px 0 100px;
    }
    
}
.searchForm{
    display: flex;
    justify-content: space-between;
}
@media (min-width:500px) {
    .searchForm{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.searchForm >input{
    width: 100%;
    margin-right: 10px;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #DDD;
    outline: none;
}
.searchForm > button{
    white-space: nowrap;
    padding: 0 28px;
    border-radius: 4px;
    background-color:#3e8bff;
    border: none;
    color: #fff;
    font-size: 16px;
}
.globalMain{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}
.siteList{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:500px) {
    .siteList{
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}
.siteList >li{
    margin-bottom: 10px;
    flex: 1;
}
@media (min-width:500px) {
    .siteList >li{
      margin-left: 25px;
    }
}
.siteList .site {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
  }
.siteList .site>.logo{
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    text-transform: uppercase;
}
.siteList .site> .link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .site .close{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}
.siteList .site:hover>.close{
    display: block;
}
.addButton{
    border: 1px solid #DDD;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    padding: 20px 0;
    width: 160px;
}
.siteList .addButton .icon{
    width: 56px;
    height: 56px;
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}
.icon-wrapper{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
} 